name: CodeTest
on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: 3.9 # For now, scipy doesn't appear to work in 3.10
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy
          pip install pandas
          pip install pyAesCrypt
          pip install python-dateutil
          pip install seaborn
          pip install matplotlib
          pip install requests
      - name: Process Data
        env:
          BUFFERSIZE: ${{ secrets.BUFFERSIZE }}
          ENCRYPTIONPASSWORD: ${{ secrets.ENCRYPTIONPASSWORD }}
          CLIENTID: ${{ secrets.CLIENTID }}
          CLIENTSECRET: ${{ secrets.CLIENTSECRET }}
        run: python processData.py
